{% extends "exam/base.html" %}
{% block title %}Home - Gate Cracker{% endblock %}
{% block content %}
<h2 style="color: rgb(12, 12, 12); text-align: center;">Welcome to Gate Cracker</h2>
<h2 style="color: rgb(14, 14, 14); text-align: center;">Latest Videos</h2>

  <div class="flex-container">
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/Yu4-xnBP-00" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/5jm4QkrxyuQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/LXb3EKWsInQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/kJQP7kiw5Fk" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/V-_O7nl0Ii0" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/eYq7WapuDLU" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/ScMzIvxBSi4" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videos">
       <iframe width="350" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
